[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
elasticsearch = "<7.0.0"
sqlalchemy = "*"
python-dateutil = "*"
redis = "*"
psycopg2-binary = "*"
requests = "*"
pydantic = "*"
python-json-logger = "*"

[dev-packages]
black = "==21.10b0"
flake8 = "*"
mypy = "*"
pytest = "*"
ptpython = "*"
xenon = "*"
isort = "*"

[requires]
python_version = "3.9"
